@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');


*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
    line-height: 1.5;
    background-color: #333;
}
a{
    text-decoration: none;
}
.text-primary{
    color: turquoise;
}
#navbar{
    display: flex;
    position: sticky;
    top: 0px;
    background-color:rgb(51, 51,51,0.4);
    color: #fff;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1;
}
#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a{
    color: #fff;
    margin: 0 0.25rem;
    padding: 0.75rem;
}
#navbar ul li a:hover{
    background-color:#93cb52;
    border-radius: 5px;
}
#showcase{
    background: #333 url("../img/karim.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
   /*   overlay*/
   position: absolute;
   top: 65px;
   right: 0;
   left: 0;
   bottom: 0;                               
    background: rgb(0,0,0,0.4);
}
.l-heading{
    font-size: 4rem;
    margin-bottom:2rem;
    line-height: 1.1;
    
}

.btn{
    display: inline-block;
    color: #fff;
    background-color: #93cb52;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
}
.btn:hover{
    background: #7ab436;
    
}
/* section: what we do*/
#who{
    background-color:#333;
    color:#fff;
    padding: 1.5rem;
}
.text-center{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 2rem;
}


.reko{
color:#fff;
text-align: center;
font-size: 1.4rem;
margin-top: 1.5rem;

}
#what{
    background-color: #f4f4f4;
    color: #333;
    padding: 3rem;
}
.text-center{
    text-align: 1.5rem;
    font-size: 3rem;
}
#what .container{
    display: flex;
    padding-top: 2rem;
    align-items: top;
}
#what .container .item{
    background-color: #7ab436;
    border-radius: 50%;
    padding: 1rem; 
    margin-bottom: 10rem; 
}
.article{
    
    margin-left: 2rem;    
}
#clients{
    background-color: #fff;
    color: black;
}
#clients .items{
    display: flex;
}
#clients .container .items img{
    display: block;
    margin: auto;
    width: 60%;
    margin-top: 5rem;
}
#contact{
    background-color:#7ab436;
    color: #fff;
    font-size: 2rem;
}
.form-group{
    background-color:#7ab436;
    color: black;
    font-size: 2rem;
}
#phone{
    font-size: 1.5rem;
    color: #000;
}
#email{
    font-size: 1.5rem;
}
#name{
    font-size: 1.5rem;
}
#main-footer{background-color: #333;
color: #fff;
font-size: 1rem;
}
